@model Microsoft.AspNet.Identity.DynamicsCrm.UserProfile
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!-- Optional section -->
            <div class="panel-group" id="accordion">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><b>Optional:</b> Your requirements for learning materials <em>(Click to open this section)</em></a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse open">
                        <div class="panel-body">
                            <div class="form-group col-lg-12">
                                <div class="alert alert-info alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <p>In order for us to provide you with the <strong>best experience for your trial</strong>, you can fill out the following questions, so we may better understand what requirements you have</p>
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <div class="form-group col-lg-6">
                                    <p class="form-label"><strong>Is it required to support your end-users in multiple languages?</strong></p>
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(m => m.MultiLanguage, true, new { style = "padding-top: 4px;" }) Yes
                                    </label>
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(m => m.MultiLanguage, false, new { style = "padding-top: 4px;" }) No
                                    </label>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="UseCases" class="form-label">Please select the use cases that applies to your requirements?</label>
                                    <p class="text-muted"><small>(Hold down the CTRL key to select more than one use-case)</small></p>
                                    @Html.ListBoxFor(m => m.UseCases, Model.ProfileMetaData["usecases"].AsSelectList(Model.UseCases), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="ERPSystem" class="form-label">What is your primary ERP System?</label>
                                @Html.DropDownListFor(m => m.ERPSystem, Model.ProfileMetaData["erpsystem"].AsSelectList(new string[] { Model.ERPSystem }, "(Not selected)"), new { @class = "form-control" })
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="CRMSystem" class="form-label">What is your primary CRM System?</label>
                                @Html.DropDownListFor(m => m.CRMSystem, Model.ProfileMetaData["crmsystem"].AsSelectList(new string[] { Model.CRMSystem }, "(Not selected)"), new { @class = "form-control" })
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="Productivity" class="form-label">What kind of productivity or collaboration applications do you use?</label>
                                <p class="text-muted"><small>(Hold down the CTRL key to select more than one system)</small></p>
                                @Html.ListBoxFor(m => m.Productivity, Model.ProfileMetaData["productivitycollaborationsystems"].AsSelectList(Model.Productivity), new { @class = "form-control" })
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="Custom" class="form-label">Do you have any custom-made or other types of business applications?</label>
                                <p class="text-muted"><small>(Hold down the CTRL key to select more than one application type)</small></p>
                                @Html.ListBoxFor(m => m.Custom, Model.ProfileMetaData["customapplications"].AsSelectList(Model.Custom), new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="OtherRequirements" class="form-label">Do you have other vital business systems or requirements we need to know about?</label>
                                @Html.TextAreaFor(m => m.OtherRequirements, new { @class = "form-control", @rows = "4", @placeholder = "You can provide a brief description here" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

